@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

:root {
  --bg: #121214;
  --accent: greenyellow;
}

* {
  box-sizing: border-box;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0;
  color: inherit;
}

/* nobody uses the other ones */
:not(h1, h2, h3) {
  font-size: inherit;
}

a:any-link, button {
  cursor: pointer;
}

:focus-visible {
  outline: 2px solid white;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-family: system-ui, Helvetica, sans-serif;
}

h1 {
  font-family: "Limelight", sans-serif;
  font-size: 2.5em;
}

#header {
  position: sticky;
  top: 50px;
  color: var(--accent);
  display: flex;
  align-items: center;
  gap: 25px;
}

#header > .spoon {
  height: 20px;

  &:last-child { rotate: 180deg; }
}

.spoon {
  aspect-ratio: 1200 / 291;
  mask-image: url("./images/spoon.png");
  mask-size: 100%;
  background: currentColor;
}

#leaderboard {
  margin-top: 25px;
  width: 75%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid gray;
}

thead > tr {
  border-bottom: 1px solid var(--accent);
}

td, th {
  padding: 5px;
  text-align: center;
}

th {
  color: var(--accent);
  font-size: 1.25em;
}

.rank {
  height: 1.25em;
  aspect-ratio: 1;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: "Limelight", sans-serif;
  margin: 0 auto;
}

.rank.gold {
  background: gold;

  &::after {
    content: "1";
  }
}

.rank.silver {
  background: silver;

  &::after {
    content: "2";
  }
}

.rank.bronze {
  background: #cd7f32;

  &::after {
    content: "3";
  }
}

.status {
  height: 1.25em;
  width: 50%;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status.alive {
  border: 1px solid var(--accent);
}

.status.alive::after {
  content: "Alive";
}

.status.dead {
  border: 1px solid crimson;
}

.status.dead::after {
  content: "Dead";
}
