@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

:root {
  --bg: #121214;
  --accent: greenyellow;
}

* {
  box-sizing: border-box;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0;
  color: inherit;
}

/* nobody uses the other ones */
:not(h1, h2, h3) {
  font-size: inherit;
}

a:any-link, button {
  cursor: pointer;
}

:focus-visible {
  outline: 2px solid white;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-family: system-ui, Helvetica, sans-serif;
}

h1 {
  font-family: "Limelight", sans-serif;
  font-size: 2.5em;
}

#header {
  position: sticky;
  top: 50px;
  color: var(--accent);
  display: flex;
  align-items: center;
  gap: 24px;
}

#header > .spoon {
  height: 20px;

  &:last-child { rotate: 180deg; }
}

.spoon {
  aspect-ratio: 1200 / 291;
  mask-image: url("./images/spoon.png");
  mask-size: 100%;
  background: currentColor;
}

#leaderboard {
  margin-top: 25px;
  width: 75%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid gray;
}

thead > tr {
  border-bottom: 1px solid var(--accent);
}

td, th {
  padding: 5px;
}

th {
  color: var(--accent);
  font-size: 1.25em;
}
