@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

:root {
  --bg: #171719;
  --bg-light: #36363b;
  --accent: greenyellow;
  --error: crimson;
  --border: gray;
  --white: #e8e8e8;
}

* {
  box-sizing: border-box;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0;
  color: inherit;
  line-height: 1.4;
}

/* nobody uses the other ones */
:not(h1, h2, h3) {
  font-size: inherit;
}

a:any-link,
button {
  cursor: pointer;
}

:focus-visible {
  outline: 2px solid var(--white);
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  font-family: system-ui, Helvetica, sans-serif;
}

h1 {
  font-family: "Limelight", sans-serif;
  font-size: 2.5em;
}

i.ph {
  font-size: 1.25em;
}

@keyframes header-gap {
  from {
    gap: 100px;
    letter-spacing: 5px;
  }
}

#header {
  color: var(--accent);
  display: flex;
  align-items: center;
  gap: 25px;
  letter-spacing: 0;
  animation: header-gap 1s cubic-bezier(0.08, 0, 0.78, 1.22) forwards;
}

@keyframes spoon-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#header > .spoon {
  height: 20px;
  animation: spoon-fade 1s linear forwards;

  &:last-child {
    rotate: 180deg;
  }
}

#header.no-anim,
#header.no-anim > .spoon {
  animation: none;
}

.spoon {
  aspect-ratio: 1200 / 291;
  mask-image: url("./images/spoon.png");
  mask-size: 100%;
  background: currentColor;
}

#leaderboard {
  margin-top: 25px;
  width: 75%;
  border-collapse: collapse;
  position: relative;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--border);
}

thead > tr {
  border-bottom: 1px solid var(--accent);
}

td,
th {
  padding: 5px 10px;
  text-align: center;
}

th {
  color: var(--accent);
  font-size: 1.25em;
}

.rank {
  height: 1.25em;
  aspect-ratio: 1;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Limelight", sans-serif;
  margin: 0 auto;
}

.rank:is(.gold, .silver, .bronze) {
  color: var(--bg);
}

.rank.gold   { background: gold; }
.rank.silver { background: silver; }
.rank.bronze { background: #cd7f32; }

.status {
  height: max-content;
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: max-content;
}

.status.alive {
  color: var(--accent);
}

.status.alive::after {
  content: "Alive";
}

.status.dead {
  color: var(--error);
}

.status.dead::after {
  content: "Dead";
}

.buttons {
  background: var(--bg);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 25px;
  padding: 10px;
  padding-top: 0;
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px;
  cursor: pointer;
  transition: color 0.1s linear;
  position: relative;
  text-decoration: none;
  display: flex;
  gap: 5px;
  align-items: center;
}

.button > i {
  transition: color 0.1s linear;
}

.button:focus-visible {
  outline: none;
}

.button:is(:hover, :active, :focus-visible) {
  color: var(--bg);
}

.button:not(:hover, :active, :focus-visible) > i {
  color: var(--accent);
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  top: unset;
  height: 2px;
  background: var(--accent);
  z-index: -1;
  transition: all 0.2s ease;
}

.button:is(:hover, :active, :focus-visible)::after {
  height: 100%;
}

.button:active::after {
  filter: brightness(0.75);
}

input, textarea {
  font-size: inherit;
  height: 40px;
  padding: 10px;
  background: var(--bg-light);
}

textarea {
  min-height: 80px;
}

::placeholder {
  color: #9b9ba6;
}

::selection {
  color: var(--bg);
  background: var(--accent);
}

form {
  margin-top: 25px;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

form > label {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

form > label > span {
  width: 100%;
}

form > label > input, form > label > textarea {
  width: 100%;
  transition: outline 0.1s ease;
  resize: vertical;
}

form > label:has([required]) > span::after {
  content: "*";
  color: var(--error);
  margin-left: 5px;
}

.form-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#form-error {
  flex-grow: 1;
  color: var(--error);
  font-size: 0.9em;
}

#submit {
  width: 50%;
  max-width: 300px;
}

#submit {
  margin-bottom: 50px;
}

button {
  background: var(--bg-light);
  height: 40px;
  cursor: pointer;
  transition:  0.2s linear, outline 0.1s ease;
  font-family: inherit;
  padding: 0 10px;
}

.accept, .reject {
  background: transparent;
}

button:not(.autocomplete-menu > button):hover, #submit:hover,
.accept:hover,
.reject:hover {
  filter: brightness(1.25);
}

button:active, #submit:active,
.accept:active,
.reject:active {
  filter: brightness(0.75);
}

.autocomplete-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  position: absolute;
  transition:
    clip-path 0.2s ease,
    border 0.1s ease,
    padding 0.1s ease,
    opacity 0.2s linear;
  background: var(--bg-light);
  border: 2px solid var(--white);
  margin: 0 -2px;
  padding: 10px;
  clip-path: inset(0 0 0 0);
  z-index: 10;
}

.autocomplete-menu-item {
  height: 25px;
  width: calc(100% + 20px);
  text-align: left;
  padding: 5px 15px;
  margin: 0 -10px;
  display: flex;
  align-items: center;
}

.autocomplete-menu-item:not(:active) {
  transition: none;
}

.autocomplete-menu-item:hover {
  background: var(--accent);
  color: var(--bg);
}

.autocomplete-menu.hidden {
  opacity: 0;
  clip-path: inset(0 0 100% 0);
  border: 0 solid var(--white);
  padding: 12px;
}

#buttons {
  width: 75%;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.accept {
  border: 1px solid var(--accent);
  color: var(--accent);
  margin-left: auto;
}

.reject {
  border: 1px solid var(--error);
  color: var(--error);
}

#requests-section {
  width: 75%;
}

#requests {
  width: 100%;
  list-style: none;
}

#requests > li {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--border);
}

#requests > li > button {
  height: max-content;
}

#auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  gap: 10px;
}

#auth label {
  margin-right: auto;
}

#auth-error {
  color: var(--error);
  display: none;
}

#main-content {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#unauthorized-msg {
  display: none;
  text-align: center;
  margin-top: 4rem;
  font-size: 1.5rem;
  color: var(--error);
}

#login-btn {
  width: 100%;
}

.remove-btn {
  color: var(--error);
  background: transparent;
  border: 1px solid var(--error);
  height: max-content;
  margin: auto;
}

#add-btn {
  color: var(--accent);
  background: transparent;
  border: 1px solid var(--accent);
}

#add-user-form {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#add-user-form > div {
  display: flex;
  gap: 10px;
}

#users-table-body > tr > td {
  position: relative;
}

#users-table-body > tr > td:not(:last-child) {
  padding-right: 11px; /* to account for the border */
}

#users-table-body > tr > td:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  right: 0;
  top: 5px;
  bottom: 5px;
  background: var(--border);
}
