@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

:root {
  --bg: #121214;
}

* {
  box-sizing: border-box;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0;
  color: inherit;
}

/* nobody uses the other ones */
:not(h1, h2, h3) {
  font-size: inherit;
}

a:any-link, button {
  cursor: pointer;
}

:focus-visible {
  outline: 2px solid white;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

h1 {
  font-family: "Limelight", sans-serif;
  position: sticky;
  top: 50px;
}

#leaderboard {
  margin-top: 25px;
  width: 75%;
}

tr, thead {
  border-bottom: 1px solid gray;
}

td, th {
  padding: 5px;
}

:where(td, th):not(:last-child) {
  border-right: 1px solid gray;
}
