@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

* {
  box-sizing: border-box;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0;
  font-size: inherit;
  color: inherit;
}

a:any-link, button {
  cursor: pointer;
}

:focus-visible {
  outline: 2px solid white;
}

html, body {
  height: 100%;
  background: #121214;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

h1 {
  font-family: "Limelight", sans-serif;
  position: sticky;
  top: 50px;
}

#leaderboard {
  list-style: none;
  margin-top: 25px;
  width: 75%;
}

li {
  border-bottom: 1px solid gray;
  padding: 5px;
}
