* {
  box-sizing: border-box;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0;
}

:focus-visible {
  outline: 2px solid white;
}

body, html {
  height: 100%;
  background: #121214;
}

